
<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanning finger animattion</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style2.css') }}">

</head>
<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <!-- <div class="color"></div> -->
        <div class="box">
            <div class="square" style="--i:0"></div>
            <div class="square" style="--i:1"></div>
            <div class="square" style="--i:2"></div>
            <div class="square" style="--i:3"></div>
            <div class="square" style="--i:4"></div>
            <div class="container">

                <div class="form">
                    <h1>🎨User Information</h1>
                    <h2>Name : {{n}}</h2>
                    <h2>Password : {{p}}</h2><br>
                    <i><h3>Your Data has been stored</h3></i>

                    <!-- <form name="passdata" action="." method="post">
                        <div class="inputBox">
                            <input type="text" placeholder="Username" name="name">
                        </div>
                        <div class="inputBox">
                            <input type="password" placeholder="Passowrd" name="pwd">
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Login">
                        </div>
                        <p class="forget">Forget Password? <a href="#">Click Here</a></p>
                        <p class="forget">Don't have an account? <a href="#">Sign Up</p></p>
                    </form> -->

                </div> 
            </div>
        </div>
    </section>    
</body>
</html>

